@model baitaplon.Models.sinhvien

@{
  ViewBag.Title = "Sửa Thông tin sinh viên";
  Layout = "~/Views/Shared/_Layoutsv.cshtml";
}

<h2>Thông tin sinh viên</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">  <form class="form-group">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSV)

    <div class="form-group mb-3">
        <label for="TenSV" class="form-label">Tên sinh viên</label>  <div>
            @Html.EditorFor(model => model.TenSV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="MatKhau" class="form-label">Mật khẩu</label>
        <div>
            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="GioiTinh" class="form-label">Giới tính</label>
        <div>
            @Html.DropDownListFor(model => model.GioiTinh, new List<SelectListItem>
          {
                new SelectListItem { Text = "Nam", Value = "Nam" },
                new SelectListItem { Text = "Nữ", Value = "Nữ" }
              }, "Chọn giới tính", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="SDT" class="form-label">Số điện thoại</label>
        <div>
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="NgaySinh" class="form-label">Ngày sinh</label>
        <div>

            @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.MaLop)
    <div class="form-group mb-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Lưu</button>
            @Html.ActionLink("Quay lại", "trangchu", null, new { @class = "btn btn-default" })
        </div>
    </div>
</form>
      </div>
    </div>
  </div>
}