@model baitaplon.Models.sinhvien

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layoutsv.cshtml";
}

<h2 class="text-center">Thông tin cá nhân</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Thông tin sinh viên</h4>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt><strong>Mã sinh viên:</strong></dt>
            <dd>@Html.DisplayFor(model => model.MaSV)</dd>

            <dt><strong>Tên sinh viên:</strong></dt>
            <dd>@Html.DisplayFor(model => model.TenSV)</dd>

            <dt><strong>Mật khẩu:</strong></dt>
            <dd>@Html.DisplayFor(model => model.MatKhau)</dd>

            <dt><strong>Giới tính:</strong></dt>
            <dd>@Html.DisplayFor(model => model.GioiTinh)</dd>

            <dt><strong>Số điện thoại:</strong></dt>
            <dd>@Html.DisplayFor(model => model.SDT)</dd>

            <dt><strong>Ngày sinh:</strong></dt>
            <dd>@Html.DisplayFor(model => model.NgaySinh)</dd>

            <dt><strong>Tên lớp:</strong></dt>
            <dd>@Html.DisplayFor(model => model.lop.TenLop)</dd>

            <dt><strong>Ảnh Sinh viên:</strong></dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.AnhSV))
                {
                    <img src="~/Images/@Model.AnhSV" alt="Ảnh Sinh viên" class="img-thumbnail" style="width: 200px; height: auto;" />
                }
                else
                {
                    <span>Chưa có ảnh</span>
                }
            </dd>

            <dt><strong>Ảnh Thẻ Sinh viên:</strong></dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.AnhTheSV))
                {
                    <img src="~/Images/@Model.AnhTheSV" alt="Ảnh Thẻ Sinh viên" class="img-thumbnail" style="width: 200px; height: auto;" />
                }
                else
                {
                    <span>Chưa có ảnh</span>
                }
            </dd>

            <dt><strong>Ảnh CCCD:</strong></dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.AnhCCCD))
                {
                    <img src="~/Images/@Model.AnhCCCD" alt="Ảnh CCCD" class="img-thumbnail" style="width: 200px; height: auto;" />
                }
                else
                {
                    <span>Chưa có ảnh</span>
                }
            </dd>
        </dl>
    </div>
    <div class="panel-footer text-center">
        <a href="/Sinhvien/suathongtin?MaSV=@ViewBag.MaSV" class="btn btn-primary">Sửa thông tin</a>
        <a href="/Sinhvien/trangchu?MaSV=@ViewBag.MaSV" class="btn btn-default">Quay lại</a>
    </div>
</div>

<style>
    .dl-horizontal dt {
        width: 160px;
    }

    .dl-horizontal dd {
        margin-left: 180px;
    }

    .panel-title {
        font-size: 18px;
        font-weight: bold;
    }

    .panel-footer {
        background-color: #f5f5f5;
    }

    .btn {
        margin-right: 10px;
    }
</style>
